---
title: ФНДК
---
extends layouts/_about-project-layout
block content
    <section class="project-info">
        <div class="project-info__wrap">
            <div class="project-info__plan">
                <h4 class="chapter">Про проект</h4>
                <h2 class="project-info__title">1 000 квартир</h2>
                <p class="project-info__subtitle">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати. В рамках проекту планується будівництво житла для 1000 сімей в наступних містах України.</p>
                <div class="project-info__container">
                    <div class="project-info__stage">
                        <h4 class="stage-title">Міста:</h4>
                        <p class="stage-text">Київ<br> Херсон<br> Миколаїв<br> Одеса<br> Львів<br> Дніпро<br> Харків</p>
                        <h4 class="stage-title">Етап:</h4>
                        <span>Проектування</span>
                    </div>
                    <div class="project-info__apart">
                        <h4 class="apart-title">Загальна кількість квартир:</h4>
                        <p class="apart-text">1 000 квартир</p>
                        <h4 class="apart-title">Загальна площа:</h4>
                        <p class="apart-text">3.700 км2</p>
                        <h4 class="apart-title">Дата заснування:</h4>
                        <p class="apart-text">20.10.2020</p>
                    </div>
                </div>
            </div>    
            <div class="project-info__img">
                <img src="./img/ap1000kvartir.jpg" alt="1000 квартир">
            </div>
        </div>
    </section>
    <section class="project-infostructure">
        <div class="project-infostructure__schema">
            <h4 class="chapter">Інфраструктура</h4>
            <div class="project-infostructure__img"></div>
        </div>
    </section>
    <section class="project-portfolio">
        <div class="project-portfolio__wrap">
            <h4 class="chapter">Порфтоліо</h4>
            <div class="project-portfolio__img">
                <div class="kvartiri__img kvartiri__img1"></div>
                <div class="kvartiri__img kvartiri__img2"></div>
                <div class="kvartiri__img kvartiri__img3"></div>
                <div class="kvartiri__img kvartiri__img4"></div>
                <div class="kvartiri__img kvartiri__img5"></div>
                <div class="kvartiri__img kvartiri__img6"></div>
            </div>
        </div>
    </section>
    <section class="building-stage">
        <div class="building-stage__wrap">
            <h4 class="chapter">Етапи забудови</h4>
            <div class="stage-faza">Фаза 1</div>
            <div class="inline-cities">
                <div class="city-block">
                    <h2>Київ</h2>
                    <p>300 <span>квартир</span></p>
                </div>
                <div class="city-block">
                    <h2>Херсон</h2>
                    <p>100 <span>квартир</span></p>
                </div>
                <div class="city-block">
                    <h2>Миколаїв</h2>
                    <p>100 <span>квартир</span></p>
                </div>
            </div>
            <div class="stage-faza">Фаза 2</div>
            <div class="inline-cities">
                <div class="city-block">
                    <h2 class="">Одеса</h2>
                    <p class="">300 <span>квартир</span></p>
                </div>
                <div class="city-block">
                    <h2>Львів</h2>
                    <p>100 <span>квартир</span></p>
                </div>
                <div class="city-block">
                    <h2>Дніпро</h2>
                    <p>100 <span>квартир</span></p>
                </div>
                <div class="city-block">
                    <h2>Харків</h2>
                    <p>100 <span>квартир</span></p>
                </div>
                <div class="city-block">
                    <h2>Київ</h2>
                    <p>100 <span>квартир</span></p>
                </div>
            </div>
        </div> 
    </section>
    <!-- contact -->
        +contact()