---
title: ФНДК
---
extends layouts/_about-project-third-layout
block content
    <section class="project-info">
        <div class="project-info__wrap">
            <div class="project-info__plan">
                <h4 class="chapter">Про проект</h4>
                <h2 class="project-info__title">Українська гімназія для обдарованих дітей</h2>
                <p class="project-info__subtitle">В рамках проекту планується будівництво нової школи майбутнього, націленої на пошук, виявлення та всебічний розвиток обдарованих дітей в умовах спеціальним образом організованого середовища. Пріоритетом буде діти з Криму, діти вимушених переселенців з числа кримських татар та обдаровані діти зі всієї України.</p>
                <div class="project-info__container">
                    <div class="project-info__stage">
                        <h4 class="stage-title">Місто:</h4>
                        <p class="stage-text">Київ та область</p>
                        <p class="stage-text">Херсонська область</p>
                        <h4 class="stage-title">Етап:</h4>
                        <span>Проектування</span>
                    </div>
                    <div class="project-info__apart">
                        <h4 class="apart-title">Загальна площа:</h4>
                        <p class="apart-text">3.700 км2</p>
                        <h4 class="apart-title">Дата заснування:</h4>
                        <p class="apart-text">20.10.2020</p>
                    </div>
                </div>
            </div>    
            <div class="project-info__img">
                <img src="./img/gimnasia.jpg" alt="Кртат освіт комплекс">
            </div>
        </div>
    </section>
    <section class="project-infostructure">
        <div class="project-infostructure__schema">
            <h4 class="chapter">Інфраструктура</h4>
            <div class="project-infostructure__img3"></div>
        </div>
    </section>
    <section class="project-portfolio">
        <div class="project-portfolio__wrap">
            <h4 class="chapter">Порфтоліо</h4>
            <div class="project-portfolio__img">
                <div class="kvartiri__img school__img1"></div>
                <div class="kvartiri__img school__img2"></div>
                <div class="kvartiri__img school__img3"></div>
                <div class="kvartiri__img school__img4"></div>
                <div class="kvartiri__img school__img5"></div>
                <div class="kvartiri__img school__img6"></div>
            </div>
        </div>
    </section>
    <section class="building-stage">
        <div class="building-stage__wrap">
            <h4 class="chapter">Етапи забудови</h4>
            <div class="stage-faza">Фаза 1</div>
            <div class="inline-cities">
                <div class="city-block">
                    <h2>Кримськотатарський культурно-освітній центр в місті Київ та Київській області</h2>
                </div>
            </div>
            <div class="stage-faza">Фаза 2</div>
            <div class="inline-cities">
                <div class="city-block">
                    <h2>Кримськотатарський культурно-освітній центр в Херсонській області</h2>
                </div>
            </div>
        </div> 
    </section>
    <!-- contact -->
        +contact()