---
title: ФНДК
---
extends layouts/_about-project-second-layout
block content
    <section class="project-info">
        <div class="project-info__wrap">
            <div class="project-info__plan">
                <h4 class="chapter">Про проект</h4>
                <h2 class="project-info__title">Кримськотатарський культурно-освітній комплекс</h2>
                <p class="project-info__subtitle">Комплекс буде громадським, культурним, соціальним, освітнім та духовним центром кримських татар и мусульман України в цілому.</p>
                <div class="project-info__container">
                    <div class="project-info__stage">
                        <h4 class="stage-title">Місто:</h4>
                        <p class="stage-text">Київ</p>
                        <h4 class="stage-title">Етап:</h4>
                        <span>Проектування</span>
                    </div>
                    <div class="project-info__apart">
                        <h4 class="apart-title">Загальна площа:</h4>
                        <p class="apart-text">3.700 км2</p>
                        <h4 class="apart-title">Дата заснування:</h4>
                        <p class="apart-text">20.10.2020</p>
                    </div>
                </div>
            </div>    
            <div class="project-info__img">
                <img src="./img/apcrtatcomplex.jpg" alt="Кртат освіт комплекс">
            </div>
        </div>
    </section>
    <section class="project-infostructure">
        <div class="project-infostructure__schema">
            <h4 class="chapter">Інфраструктура</h4>
            <div class="project-infostructure__img2"></div>
        </div>
    </section>
    <section class="project-portfolio">
        <div class="project-portfolio__wrap">
            <h4 class="chapter">Порфтоліо</h4>
            <div class="project-portfolio__img">
                <div class="kvartiri__img complex__img1"></div>
                <div class="kvartiri__img complex__img2"></div>
                <div class="kvartiri__img complex__img3"></div>
                <div class="kvartiri__img complex__img4"></div>
                <div class="kvartiri__img complex__img5"></div>
                <div class="kvartiri__img complex__img6"></div>
            </div>
        </div>
    </section>
    <section class="building-stage">
        <div class="building-stage__wrap">
            <h4 class="chapter">Етапи забудови</h4>
            <div class="stage-faza">Фаза 1</div>
            <div class="inline-cities">
                <div class="city-block">
                    <h2> Соборна мечеть </h2>
                </div>
                <div class="city-block">
                    <h2>Ісламський центр</h2>
                    <p><span style="font-size: 18px;">(до 5000 чоловік)</span></p>
                </div>
                <div class="city-block">
                    <h2>Школа</h2>
                    <p><span style="font-size: 18px;">та освітній центр (200 учнів)</span></p>
                </div>
            </div>
            <div class="stage-faza">Фаза 2</div>
            <div class="inline-cities">
                <div class="city-block">
                    <h2>Етнографічний центр</h2>
                    <p><span style="font-size: 18px;">з національним музеєм і конференц-залом</span></p>
                </div>
                <div class="city-block">
                    <h2>Бізнес-центр</h2>
                    <h2>Торгові приміщення</h2>
                    <h2>Ресторани</h2>
                </div>
                <div class="city-block">
                    <h2>Зони відпочинку</h2>
                    <p><span style="font-size: 18px;">та рекреації</span></p>
                </div>
            </div>
        </div> 
    </section>
    <!-- contact -->
        +contact()