---
title: fond-crimea-project
---
extends layouts/_inner-layout
block content
    <section class="about-inner-strategy">
        <div class="strategy-fund">
            <h2 class="strategy-fund__title">Фонд Національного Добробуту Криму</h2>
            <p class="strategy-fund__subtitle">Благодійна організація  Фонд національного добробуту Криму (ФНДК) – це спеціальний фонд кримськотатарського народу, побудований з метою фінансування стратегічних національних програм та інвестицій, а також накопичення довгострокових резервів для майбутніх поколінь.</p>
            <div class="strategy-underline"></div>
        </div>
        <div class="strategy-underline"></div>
        <div class="strategy-plans">
            <div class="plans-block">
                <div class="plans-block__name">
                +icon('aim1')
                <h4 class="plans-block__title">Наша ціль</h4>
                </div>
                <p class="plans-block__sub">Фонд розробляє стратегію розвитку, з пріоритетом на соціальні інвестиції та ефективне управління майновими активами. </p>
            </div>
            <div class="plans-block">
                <div class="plans-block__name">
                +icon('goal2')
                <h4 class="plans-block__title">Наша місія</h4>
                </div>
                <p class="plans-block__sub">Місією ФНДК є підтримка найменш соціально захищених громадян з числа кримських татар, координація та управління національними проектами та їх супроводження після реалізації.</p>
            </div>
            <div class="plans-block">
                <div class="plans-block__name">
                    +icon('view3')
                    <h4 class="plans-block__title">Наше бачення</h4>
                    </div>
                    <p class="plans-block__sub">Місією ФНДК є підтримка найменш соціально захищених громадян з числа кримських татар, координація та управління національними проектами та їх супроводження після реалізації.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-statistic-inner">
        <div class="about-statistic">
            <div class="about-statistic__container">
                <h2 class="statistic-title">15 лет</h2>
                <p class="statistic-subtitle">Опыта работы в этой сфере</p>
            </div>
            <div class="about-statistic__container">
                <h2 class="statistic-title">1350</h2>
                <p class="statistic-subtitle">Людей приняли участие</p>
            </div>
            <div class="about-statistic__container">
                <h2 class="statistic-title">15</h2>
                <p class="statistic-subtitle">Действующих программ</p>
            </div>
            <div class="about-statistic__container">
                <h2 class="statistic-title">50</h2>
                <p class="statistic-subtitle">Мероприятий ежегодно</p>
            </div>
        </div>
    </section>
    <section class="about-structure-inner">
        <div class="fund-structure">
            <div class="fund-structure__wrap">
                <div class="fund-structure__title">
                    +icon('structure')
                    <h2 class="structure-title__name">Структура фонду</h2>
                </div>
                <div class="fund-structure__subtitle">
                    <p class="structure-subtitle__name">ФНДК створено без обмежень строків діяльності. Фонд має самостійний баланс та організаційну структуру.</p>
                    <p class="structure-subtitle__name">ФНДК має 3 рівня правління, котрі дозволяють побудувати ефективну та збалансовану систему менеджменту та контролю:</p>
                </div>
            </div>
            <div class="structure-position">
                <h4 class="structure-position__title">Опікунська рада</h4>
                <h4 class="structure-position__title">Правління фонду</h4>
                <h4 class="structure-position__title">Виконавча дирекція</h4>
            </div>
            <div class="structure-members__wrap">
                <div class="structure-members">
                    <div class="members__wrap">
                        <p class="structure-members__name subname">Мустафа Джемілев</p>
                        <span>Голова Ради</span>
                    </div>
                    <p class="structure-members__name"> Рефат Чубаров</p>
                    <p class="structure-members__name">Рустем Умеров</p>
                    <p class="structure-members__name">Аслан Омер Киримли</p>
                    <p class="structure-members__name">Снавер Сейтхалілев</p>
                    <p class="structure-members__name">Ельвін Кадиров</p>
                </div>
                <div class="structure-members">
                    <div class="members__wrap">
                        <p class="structure-members__name subname">Ленур Мамбетов</p>
                        <span>Голова правління</span>
                    </div>
                </div>
                <div class="structure-members">
                    <p class="structure-members__name">Проектні менеджери</p>
                    <p class="structure-members__name">Адмін. персонал</p>
                </div>
            </div>
        </div>
        <div class="fund-duties">
            <div class="fund-duties__wrap">
                <p class="fund-duties__text">Члени Опікунської Ради ФНДК здійснюють свої̈повноваження на громадських засадах.</p>
                <h4 class="fund-duties__title">До компетенцій Ради належить:</h4>
                <p class="fund-duties__text">нагляд за розпорядженням коштами ФНДК та цільовим використанням;</p>
                <p class="fund-duties__text">визначення стратегії̈діяльності Фонду та контроль за її реалізації̈;</p>
                <p class="fund-duties__text">затвердження бюджету, плану діяльності Фонду та звітів про їх виконання;</p>
                <p class="fund-duties__text">затвердження кандидатур незалежних консультантів та аудиторів;</p>
                <p class="fund-duties__text">прийняття рішень щодо створення регіональних представництв Фонду</p>
            </div>
        </div>
    </section>
    <section class="project">
        <div class="project__wrapper">
            <div class="project-list__wrap">
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-2block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-2block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-2block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-2block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-2block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-2block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-3block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-3block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-3block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-3block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-3block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-3block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-all">Всі проекти</a>
    </section>
    <!-- contact -->
        +contact()