---
title: ФНДК
---
extends layouts/_news-layout
block content
    <section class="news-page">
        <form class="news-page__form" action="" role="search">
            <input class="news-page__search-field" type="search" placeholder="Пошук..." id="search">
            <button class="news-page__search-btn" type="submit">
                +icon('search')
            </button>
        </form>
        <div class="news-page__wrap">
            <div class="news-page__item">
                <div class="news-page__img"></div>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Do millennials care about saving?</h4>
                    <p class="news-page__text">Etiam placerat tortor commodo lectus laoreet venenatis. Donec ultricies, metus vitae bibendum consequat, tortor neque euismod lectus, eu blandit erat elit in lorem.</p>
                    <a class="news-page__button" href="">Читати</a>
                </div>
            </div>
            <div class="news-page__item">
                <div class="news-page__img"></div>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Do millennials care about saving?</h4>
                    <p class="news-page__text">Etiam placerat tortor commodo lectus laoreet venenatis. Donec ultricies, metus vitae bibendum consequat, tortor neque euismod lectus, eu blandit erat elit in lorem.</p>
                    <a class="news-page__button" href="">Читати</a>
                </div>
            </div>
            <div class="news-page__item">
                <div class="news-page__img"></div>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Do millennials care about saving?</h4>
                    <p class="news-page__text">Etiam placerat tortor commodo lectus laoreet venenatis. Donec ultricies, metus vitae bibendum consequat, tortor neque euismod lectus, eu blandit erat elit in lorem.</p>
                    <a class="news-page__button" href="">Читати</a>
                </div>
            </div>
            <div class="news-page__item">
                <div class="news-page__img"></div>
                <div class="news-page__item-wrapper">
                    <h4 class="news-page__title">Do millennials care about saving?</h4>
                    <p class="news-page__text">Etiam placerat tortor commodo lectus laoreet venenatis. Donec ultricies, metus vitae bibendum consequat, tortor neque euismod lectus, eu blandit erat elit in lorem.</p>
                    <a class="news-page__button" href="">Читати</a>
                </div>
            </div>
        </div>
    </section>
    <!-- contact -->
        +contact()