---
title: ФНДК
---
extends layouts/_layout
block content
    <!-- about -->
        +about()
        
    <!-- project -->
        +project()
    <!-- news -->
        +news()
    <!-- contact -->
        +contact()