.page-header {
    min-height: fit-content;
}

.project-page {
    height: 100vh;
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: relative;

    .nav-menu {
        
        .nav-menu__toggler {

            &:before,
            &::after {
                background-color: #FFFFFF;
            }
        }
    }

    .nav-menu__socials {
        display: none;
    }

    .nav-menu--active {

        .nav-menu__socials {
            display: block;
        }
    }

    .project-bg {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 33.3%;
        height: 100vh;

        &:not(:nth-child(3)) {
            margin-right: 3px;
        }

        &__title {
            font-weight: 600;
            font-size: 50px;
            line-height: 61px;
            margin-bottom: 35px;
            color: #FFFFFF;
        }

        &__item {
            min-height: 275px;
            height: 100%;
        }

        &__list {
            display: flex;
            align-items: center;
            margin-bottom: 35px;

            p {
                display: block;
                width: 7.47px;
                height: 7.47px;
                min-width: 7.47px;
                background-color: #fff;
                border-radius: 50%;
                margin-right: 18px;
            }

            div {
                font-size: 18px;
                line-height: 22px;   
                color: #FFFFFF;
            }
        }

        &__wrap {
            position: absolute;
            bottom: 0;
            padding-left: 80px;
            padding-bottom: 10%;
        }
    }

    .content-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000000 1.17%, rgba(0, 0, 0, 0.53) 50.2%, rgba(0, 0, 0, 0) 75%);
    }

    .project-img1 {
        background-image: url(../img/finished-project.jpg);
    }

    .project-img2 {
        background-image: url(../img/present-project.jpg);
    }

    .project-img3 {
        background-image: url(../img/future-project.jpg);
    }

    .project-block {
        width: 696px;

          &__container {
            width: 480px;
            margin: 50px auto;
            margin-bottom: 0;
            
            .project-stage-block {
                display: flex;
                justify-content: space-between;

                p {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;

                    span {
                        font-weight: 400;
                    }
                }
            }
        }

        &__undertitle {
            font-weight: 400;
            font-size: 30px;
            line-height: 37px;
        }

        &__title {
            font-weight: 600;
            font-size: 50px;
            line-height: 61px;
            margin: 30px 0;
        }

        &__subtitle {
            font-size: 18px;
            line-height: 22px;
            color: #000;
            margin-bottom: 82px;
        }
    }

    .project-block__btns {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .button-in {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 152px;
            height: 57px;
            background: #92BEDE;
            box-shadow: 0px 11px 32px rgba(156, 177, 193, 0.32);
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }

        .button-next {
            text-decoration: none;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #183245;

            .bg-circle-arrow {
                border-radius: 50%;
                background-color: #92BEDE;
                fill: #FFFFFF;
            }

            p { margin-right: 10px; }
        }
    }
}

