<header class="page-header">
    <section class="page-header__content">
        <div class="bg-blur"></div>
        <div class="content-wrap">
            <nav class="nav-menu">
                <button class="nav-menu__toggler"></button>
                <h2 class="burger-title">Меню</h2>
                <div class="menu-line"></div>
                <ul class="toggler-list">
                    <li class="menu-item"><a class="menu-link" href="page.html">Головна</a></li>
                    <li class="menu-item"><a class="menu-link" href="inner-about.html">Про нас</a></li>
                    <li class="menu-item"><a class="menu-link" href="news-page.html">Новини</a></li>
                    <li class="menu-item"><a class="menu-link" href="project-apart.html">Проекти</a></li>
                    <li class="menu-item"><a class="menu-link" href="contacts.html">Контакти</a></li>
                </ul>
                <div class="nav-menu__socials">
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-instagram", "social-network") 
                    </a>
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-twitter", "social-network")
                    </a>
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-facebook", "social-network") 
                    </a>
                </div>
                <a href="#about" class="nav-menu__scrolling">
                    +icon('arrow-forward', 'arrow-down')
                    <span class="scrolling-text">Дивитись далі</span>
                </a>
            </nav>
            <div class="content-main">
                <div class="content-main__wrapper">
                    <h2 class="content-main__title">Фонд Національного Добробуту Криму</h2>
                    <p class="content-main__subtitle">Благодійна організація «Міжнародний Благодійний Фонд «Фонд Національного Добробуту Криму»</p>
                    <a href="inner-about" class="btn-more">
                        <span class="btn-more__text">Дізнатись детальніше</span>
                        +icon('arrow-forward', 'arrow-forward-white')
                    </a>
                </div>  
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="hero-languages">
            <a href="page.html" class="languages-link">UA</a>
            <a href="#" class="languages-link">EN</a>
            <a href="#" class="languages-link">TR</a>
        </div>
        <div class="hero-slider__wrap">
            <a href="project-apart.html" class="hero-slider">
                <div class="hero-slider__img hero-slider__img1"></div>
                <div class="hero-slider__inner-wrap">
                    <h2 class="hero-slider__name">1000 Квартир</h2>
                    <p class="hero-slider__text">Етап: проектування</p>
                </div>
                +icon('arrow-forward', 'arrow-forward-slider')
                </a>
            <a href="project-complex.html" class="hero-slider">
                <div class="hero-slider__img hero-slider__img2"></div>
                <div class="hero-slider__inner-wrap">
                    <h2 class="hero-slider__name">Кримськотатарський культурно-овсітній комплекс</h2>
                    <p class="hero-slider__text">Етап: проектування</p>
                </div>
                +icon('arrow-forward', 'arrow-forward-slider') 
            </a>
            <a href="project-gymnasium.html" class="hero-slider">
                <div class="hero-slider__img hero-slider__img3"></div>
                <div class="hero-slider__inner-wrap">
                    <h2 class="hero-slider__name">Українська гімназія для обдарованих дітей</h2>
                    <p class="hero-slider__text">Етап: проектування</p>
                </div>
                +icon('arrow-forward', 'arrow-forward-slider')         
            </a>
        </div>
    </section>
    <div class="overlay"></div>
</header>

