<header class="project-header bg-project-img3">
    <div class="bg-rgba"></div>
    <div class="project-header__wrap">
        <nav class="nav-menu">
            <button class="nav-menu__toggler nvm"></button>
            <h2 class="burger-title">Меню</h2>
            <ul class="toggler-list">
                <li class="menu-item"><a class="menu-link" href="page.html">Головна</a></li>
                <li class="menu-item"><a class="menu-link" href="inner-about.html">Про нас</a></li>
                <li class="menu-item"><a class="menu-link" href="news-page.html">Новини</a></li>
                <li class="menu-item"><a class="menu-link" href="project-apart.html">Проекти</a></li>
                <li class="menu-item"><a class="menu-link" href="contacts.html">Контакти</a></li>
                <div class="nav-menu__socials">
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-instagram", "social-network") 
                    </a>
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-twitter", "social-network")
                    </a>
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-facebook", "social-network") 
                    </a>
                </div>
            </ul>
        </nav>
        <div class="project-header__main">
            <p class="project-header__title">Проект:</p>
            <h2 class="project-header__sub">Українська гімназія для обдарованих дітей</h2>  
        </div>
        
        <div class="header-languages">
            <a href="about-project-third.html" class="header-languages__link">UA</a>
            <a href="#" class="header-languages__link">EN</a>
            <a href="#" class="header-languages__link">TR</a>
        </div>
    </div>
    <div class="overlay"></div>
</header>