<header class="page-header project-page">
    <section class="project-bg project-img2">
        <div class="content-wrap">
            <nav class="nav-menu">
                <button class="nav-menu__toggler"></button>
                <h2 class="burger-title">Меню</h2>
                <div class="menu-line"></div>
                <ul class="toggler-list">
                    <li class="menu-item"><a class="menu-link" href="page.html">Головна</a></li>
                    <li class="menu-item"><a class="menu-link" href="inner-about.html">Про нас</a></li>
                    <li class="menu-item"><a class="menu-link" href="news-page.html">Новини</a></li>
                    <li class="menu-item"><a class="menu-link" href="project-apart.html">Проекти</a></li>
                    <li class="menu-item"><a class="menu-link" href="contacts.html">Контакти</a></li>
                </ul>
                <div class="nav-menu__socials">
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-instagram", "social-network") 
                    </a>
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-twitter", "social-network")
                    </a>
                    <a href="#" class="nav-menu__socials-link">
                        +icon("logo-facebook", "social-network") 
                    </a>
                </div>
            </nav>
        </div>
    </section>
    <section class="project-block">
        <div class="hero-languages">
            <a href="project-complex.html" class="languages-link">UA</a>
            <a href="#" class="languages-link">EN</a>
            <a href="#" class="languages-link">TR</a>
        </div>
        <div class="project-block__container">
            <h2 class="project-block__undertitle">Проект:</h2>
            <h4 class="project-block__title">Кримськотатарський культурно-освітній комплекс</h4>
            <p class="project-block__subtitle">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
            <div class="project-stage-block">
                <div class="project-stage-block__wrap">
                   <p>Місто: <span>Київ</span></p>
                    <p>Етап: <span>проектування</span></p> 
                </div>
                <p>Дата заснування:<br> <span>20.10.2020</span></p>
            </div>
            <div class="project-block__btns">
                <a class="button-in" href="about-project-second.html">Детальніше про проект</a>
                <a class="button-next" href="project-gymnasium.html">
                    <p>Наступний проект</p>
                    +icon('arrow-forward', 'bg-circle-arrow')
                </a>
            </div>
        </div>
    </section>
    <div class="overlay"></div>
</header>