mixin about()
    <section id="about" class="about">
        <div class="about__wrapper">
            <div class="about-fund">
                <div class="about-fund__wrap">
                    <h4 class="chapter">Про фонд</h4>
                    <h2 class="about-fund__title">Фонд національного<br> добробуту Криму (ФНДК)</h2>
                    <p class="about-fund__subtitle">Фонд національного добробуту Криму (ФНДК) – це спеціальний фонд кримськотатарського народу, побудований з метою фінансування стратегічних національних програм та інвестицій, а також накопичення довгострокових резервів для майбутніх поколінь.</p>
                </div>
                <div class="about-fund__img"></div>
            </div>
            <div class="about-plans">
                <div class="about-plans__wrap">
                    <div class="plans-list__container">
                        <ul class="plans-list">
                            <li class="plans-list__window plans-list__window--hover">
                                +icon('hover-arrow')
                                <p class="plans-list__name">Цілі</p>
                                <div class="plans-list__popup">Фонд розробляє стратегію розвитку, з пріоритетом на соціальні інвестиції та ефективне управління майновими активами. </div>
                            </li>
                            <li class="plans-list__window plans-list__window--hover">
                                +icon('hover-arrow')
                                <p class="plans-list__name">Міссія</p>
                                <div class="plans-list__popup">Місією ФНДК є підтримка найменш соціально захищених громадян з числа кримських татар, координація та управління національними проектами та їх супроводження після реалізації.</div>
                            </li>
                            <li class="plans-list__window plans-list__window--hover">
                                +icon('hover-arrow')
                                <p class="plans-list__name">Органи правління</p>
                                <div class="plans-list__popup">ФНДК має 3 рівня правління, котрі дозволяють побудувати ефективну та збалансовану систему менеджменту та контролю:<br><br><span>Опікунська рада<br> Правління фонду<br> Виконавча дерекція</span></div>
                            </li>
                        </ul>
                        <a href="pro-nas" class="btn-more">
                            <span class="btn-more__text">Дізнатись детальніше</span>
                            +icon('arrow-forward', 'arrow-forward-white') 
                        </a>
                    </div>
                    <div class="about-adress">
                        <div class="about-adress__img"></div>
                        <div class="about-adress__location">
                            <h4 class="location-title">Адреса:</h4>
                            <p class="location-subtitle">м. Київ,<br> вул. Болсуновська 2,<br> офіс 233.</p>
                            <h4 class="postal-title">Пошта: </h4>
                            <p class="location-subtitle">corporate@qirim.ua</p>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="about-statistic">
                <div class="about-statistic__container">
                    <h2 class="statistic-title">15 лет</h2>
                    <p class="statistic-subtitle">Опыта работы в этой сфере</p>
                </div>
                <div class="about-statistic__container">
                    <h2 class="statistic-title">1350</h2>
                    <p class="statistic-subtitle">Людей приняли участие</p>
                </div>
                <div class="about-statistic__container">
                    <h2 class="statistic-title">15</h2>
                    <p class="statistic-subtitle">Действующих программ</p>
                </div>
                <div class="about-statistic__container">
                    <h2 class="statistic-title">50</h2>
                    <p class="statistic-subtitle">Мероприятий ежегодно</p>
                </div>
            </div>
        </div>
    </section>