mixin news()
    <section class="news">
        <div class="news__wrapper">
            <h4 class="chapter">Новини</h4>
            <div class="news-list">
                <div class="news-list__item">
                    <div class="news-list__img news-list__img1"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">1000 Квартир<br><br></h4>
                        <p class="description-list__subtitle">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">03 жовтня 2020</p>
                        </div>
                    </div>
                </div>
                <div class="news-list__item">
                    <div class="news-list__img news-list__img2"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">Кримськотатарський культурно-освiстiй комплекс</h4>
                        <p class="description-list__subtitle">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">03 жовтня 2020</p>
                        </div>
                    </div>
                </div>
                <div class="news-list__item">
                    <div class="news-list__img news-list__img3"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">Кримськотатарський культурно-освiстiй комплекс</h4>
                        <p class="description-list__subtitle">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">03 жовтня 2020</p>
                        </div>
                    </div>
                </div>
                <div class="news-list__item">
                    <div class="news-list__img news-list__img4"></div>
                    <div class="description-list">
                        <h4 class="description-list__title">1000 Квартир<br><br></h4>
                        <p class="description-list__subtitle">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                        <div class="news-date">
                            +icon('news-clock')
                            <p class="news-date__text">03 жовтня 2020</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>    
        <a href="news-page.html" class="btn-all">Всі новини</a>
    </section>
