mixin project()
    <section class="project">
        <div class="project__wrapper">
            <h4 class="chapter">Проекти фонду</h4>
            <div class="project-list__wrap">
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="about-project.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-2block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-2block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-2block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-2block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-2block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-2block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-2block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">Кримськотатарський культурно-освiтнiй комплекс<br><br></h4>
                            <p class="item-description__sub">Комплекс буде громадським, культурним, соціальним, освітнім та духовним центром кримських татар и мусульман України в цілому.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="about-project-second.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-3block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-3block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-3block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-3block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-3block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-3block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-3block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">Українська гімназія для обдарованих дітей</h4>
                            <p class="item-description__sub">В рамках проекту планується будівництво нової школи майбутнього, націленої на пошук, виявлення та всебічний розвиток обдарованих дітей в умовах спеціальним образом організованого середовища.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="about-project-third.html" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                <div class="project-list">
                    <div class="project-list__img">
                        <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                        <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                    </div>
                    <div class="project-list__item">
                        <div class="item-slide">
                            <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                            <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                            <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                            <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                            <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                        </div>
                        <div class="item-description">
                            <h4 class="item-description__title">1000 Квартир</h4>
                            <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                            <div class="description-sub">
                                <div class="sub-text">
                                    <p class="sub-text__location">Місто: <span>Київ</span></p>
                                    <p class="sub-text__stage">Етап: <span>проектування</span></p>
                                </div>
                                <div class="sub-text">
                                    <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="all-projects">
                            <span class="all-projects-text">Про проект</span>
                            +icon('arrow-forward', 'project-arrow-right')   
                        </a>
                    </div>
                </div>
                //- <div class="project-list">
                //-     <div class="project-list__img">
                //-         <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                //-         <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                //-         <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                //-         <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                //-         <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                //-     </div>
                //-     <div class="project-list__item">
                //-         <div class="item-slide">
                //-             <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                //-             <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                //-             <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                //-             <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                //-             <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                //-         </div>
                //-         <div class="item-description">
                //-             <h4 class="item-description__title">1000 Квартир</h4>
                //-             <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                //-             <div class="description-sub">
                //-                 <div class="sub-text">
                //-                     <p class="sub-text__location">Місто: <span>Київ</span></p>
                //-                     <p class="sub-text__stage">Етап: <span>проектування</span></p>
                //-                 </div>
                //-                 <div class="sub-text">
                //-                     <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                //-                 </div>
                //-             </div>
                //-         </div>
                //-         <a href="#" class="all-projects">
                //-             <span class="all-projects-text">Про проект</span>
                //-             +icon('arrow-forward', 'project-arrow-right')   
                //-         </a>
                //-     </div>
                //- </div>
                //- <div class="project-list">
                //-     <div class="project-list__img">
                //-         <img class="top-img" src="./img/project-1block-1img.jpg" alt="">
                //-         <img class="top-img" src="./img/project-1block-2img.jpg" alt="">
                //-         <img class="top-img" src="./img/project-1block-3img.jpg" alt="">
                //-         <img class="top-img" src="./img/project-1block-4img.jpg" alt="">
                //-         <img class="top-img" src="./img/project-1block-5img.jpg" alt="">
                //-     </div>
                //-     <div class="project-list__item">
                //-         <div class="item-slide">
                //-             <img src="./img/project-1block-1img-min.jpg" class="item-slide__img item-slide__img1"></img>
                //-             <img src="./img/project-1block-2img-min.jpg" class="item-slide__img item-slide__img2"></img>
                //-             <img src="./img/project-1block-3img-min.jpg" class="item-slide__img item-slide__img3"></img>
                //-             <img src="./img/project-1block-4img-min.jpg" class="item-slide__img item-slide__img4"></img>
                //-             <img src="./img/project-1block-5img-min.jpg" class="item-slide__img item-slide__img5"></img>
                //-         </div>
                //-         <div class="item-description">
                //-             <h4 class="item-description__title">1000 Квартир</h4>
                //-             <p class="item-description__sub">Після анексії Криму Російською Федерацією, загальне число вимушених переселенців з числа кримських татар на материкової частині України становить понад 23 000 и продовжує зростати.</p>
                //-             <div class="description-sub">
                //-                 <div class="sub-text">
                //-                     <p class="sub-text__location">Місто: <span>Київ</span></p>
                //-                     <p class="sub-text__stage">Етап: <span>проектування</span></p>
                //-                 </div>
                //-                 <div class="sub-text">
                //-                     <p class="sub-text__date">Дата заснування:<br> <span>20.10.2020</span></p>
                //-                 </div>
                //-             </div>
                //-         </div>
                //-         <a href="#" class="all-projects">
                //-             <span class="all-projects-text">Про проект</span>
                //-             +icon('arrow-forward', 'project-arrow-right')   
                //-         </a>
                //-     </div>
                //- </div> 
            </div>
        </div>
        <a href="project-apart.html" class="btn-all">Всі проекти</a>
    </section>