.page-header {
    display: inline-flex;
    max-width: 1920px;
    width: 100%;
    min-height: 938px;

    &__content {
        width: 797px;
        position: relative;

        .bg-blur {
            max-width: 797px;
            background-image: url(../img/bg-img-header.jpg);
            background-size: cover;
            filter: blur(35px);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            
        }

        .content-wrap {
            display: inline-flex;
            z-index: 10000000;
            height: 100%;
        }

        .content-main {
            justify-content: center;
            align-items: center;
            max-width: 619px;
            width: calc(100vw / 3);
            display: inline-flex;

            &__wrapper {
                max-width: 477px;
            }

            &__title {
                font-weight: 600;
                font-size: 59px;
                line-height: 72px;
            }

            &__subtitle {
                margin-top: 101px;
                margin-bottom: 102px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    .hero {
        position: relative;
        width: 100%;
        max-width: 1123px;
        min-height: 938px;
        background-image: url(../img/bg-img-hero.png);
        background-size: cover;

        &-languages {
            display: flex;
            justify-content: flex-end;
            margin-right: 101px;

            .languages-link {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                background-color: #FFFFFF;
                color: #92BEDE;
                width: 39px;
                height: 40px;
                margin-top: 31px;
                border-radius: 3px;
                font-weight: 800;
                font-size: 16px;
                line-height: 19px;
                margin-left: 3px;
            }

            .selected {
                color: #FFFFFF;
                background-color: #92BEDE;
            }
        }

        &-slider__wrap {
            position: absolute;
            width: 364px;
            height: 183px;
            bottom: 56px;
            right: 101px;

            .slick-list {
                backdrop-filter: blur(15px);
                border-radius: 5px;
            }

            .slick-dots {
                position: static;

                & li button:before {
                    width: 6px;
                    height: 6px;
                    background: transparent;
                    border: 1px solid #FFFFFF;
                }
            }

            .slick-dots li.slick-active button:before {
                background: #FFFFFF;
            }
        }

        &-slider {
            display: flex !important;
            min-height: 150px;
            color: #FFFFFF;
            padding-top: 20px;
            padding-left: 25px;
            padding-bottom: 20px;
            text-decoration: none;
            border-radius: 5px;
            background-color: rgba(133, 178, 210, 0.3);

            &__img {
                background-image: url(../img/hero-slider-min.jpg);
                border-radius: 5px;
                background-size: cover;
                width: 110px;
                height: 110px;
            }

            &__inner-wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 2px;
                max-width: 163px;
                margin-left: 14px;
                margin-top: 2px;
                margin-right: 11px;
            }

            &__name {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                
            }

            &__text {
                font-size: 16px;
                line-height: 19px;
            }

            .arrow-forward-slider {
                fill: #FFFFFF;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 130px;
    align-items: center;
    width: 178px;
    height: 100vh;

    &__toggler {
        display: flex;
        background-color: transparent;
        width: 29px;
        height: 12px;
        position: fixed;
        z-index: 99999999999;

        &::before,
        &::after {
            position: absolute;
            content: "";
            display: inline-block;
            width: 29px;
            height: 3px;
            background-color: #183245;
        }

        &::before {top: 1px;}
        &::after {top: 8px;}
    }

    &__socials {
        display: inline-flex;
        flex-direction: column;

        &-link {
            margin-bottom: 30px;
        }

        .social-network:hover {
            fill: #92BEDE;
        }
    }

    &__scrolling {
        display: flex;
        color: inherit;
        transform: rotate(-90deg);
        text-decoration: none;

        &:hover {
            
            .arrow-down {
                fill: #92BEDE;
            }

            .scrolling-text {
                color: #92BEDE;
            }
        }

        .scrolling-text {
            margin-left: 21px;
        }

        .arrow-down {
            transform: rotate(180deg);
        }
    }

    .burger-title {
        display: none;
    }

    .toggler-list {
        display: none;
    }
}

.nav-menu--active {
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    transform: translateX(0);
    background-color: #F4F5F9;
    max-width: 435px;
    padding-left: 73px;
    height: 100vh;
    width: 100%;
    z-index: 999999999;
    transition: all .5s ease-in-out;

    .nav-menu__scrolling {
        display: none;
    }

    .burger-title {
        display: block;
    }

    .menu-line {
        display: table;
        width: 100%;
        height: 1px;
        background-color: #BEBEBE;
    }

    .toggler-list {
        display: block;

        .menu-item:not(:last-child) {
            margin-bottom: 36px;
        }

        .menu-link {
            text-decoration: none;
            font-size: 27px;
            line-height: 38px;
            color: #183245;

            &:hover {
                color: #92BEDE;
            }
        }

        .current {
            position: relative;
            color: #92BEDE;

            &:before {
                content: '';
                position: absolute;
                display: inline-block;
                top: 50%;
                left: -13px;
                width: 5px;
                height: 5px;
                color: #BEBEBE;
                border-radius: 50%;
                background-color: #BEBEBE;
            }
        }
    }

    .nav-menu__toggler--active {
        position: relative;
        width: 59px;
        height: 59px;
        border-radius: 50%;
        background-color: #92BEDE;

        &::before {
            position: absolute;
            transform: rotate(45deg);
            top: 8px;
        }

        &::after {
            position: absolute;
            transform: rotate(-45deg);
        }

        &::after,
        &::before {
            top: 45%;
            right: 25%;
            background-color: #FFFFFF;
        }
    }

    .nav-menu__socials {
        display: none;
    }

    .burger-title {
        color: #92BEDE;
        font-weight: 700;
        font-size: 36px;
        line-height: 51px;
        
    }

    .nav-menu__socials-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.84);

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    & + .content-main {
        margin-left: 178px;
    }
}


