.icon-arrow-forward {
  width: 24px;
  height: 24px;
  fill: initial;
}
  .icon-logo-facebook {
    width: 17px;
    height: 17px;
    fill: initial;
  }
  .icon-logo-instagram {
    width: 17px;
    height: 17px;
    fill: initial;
  }
  .icon-logo-twitter {
    width: 17px;
    height: 17px;
    fill: initial;
  }
  .icon-hover-arrow {
    width: 12px;
    height: 7px;
    fill: #92BEDE;
    ;
  }
  .slider-arrow {
    width: 65px;
    height: 65px;
    fill: #FFFFFF;
  }
  .icon-news-clock {
    width: 21px;
    height: 21px;
    fill: #92BEDE;
  }