.icon-arrow-forward {
  width: 24px;
  height: 24px;
  fill: initial;
}
  .icon-logo-facebook {
    width: 21px;
    height: 21px;
    fill: initial;
  }
  .icon-logo-instagram {
    width: 21px;
    height: 21px;
    fill: initial;
  }
  .icon-logo-twitter {
    width: 21px;
    height: 21px;
    fill: initial;
  }
  .icon-hover-arrow {
    width: 12px;
    height: 7px;
    fill: #92BEDE;
    ;
  }
  .slider-arrow {
    width: 65px;
    height: 65px;
    fill: #FFFFFF;
  }
  .icon-news-clock {
    width: 21px;
    height: 21px;
    fill: #92BEDE;
  }
  .icon-location-mark {
    width: 15px;
    height: 20px;
    fill: #92BEDE;
  }
  .icon-message-mark {
    width: 16px;
    height: 13px;
    fill: #92BEDE;
  }
  .icon-phone-mark {
    width: 17px;
    height: 17px;
    fill: #92BEDE;
  }
  .icon-aim1 {
    width: 23px;
    height: 23px;
    fill: #92BEDE;
  }
  .icon-goal2 {
    width: 23px;
    height: 23px;
    fill: #92BEDE;
  }
  .icon-view3 {
    width: 23px;
    height: 23px;
    fill: #92BEDE;
  }
  .icon-structure {
    width: 26px;
    height: 26px;
    fill: #92BEDE;
  }
  .icon-contacts-back {
    width: 26px;
    height: 26px;
    fill: initial;
  }
  .icon-search {
    width: 19px;
    height: 23px;
    fill: #FFFFFF;
  }