.icon-arrow-forward {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-hover-arrow {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-logo-facebook {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-logo-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-news-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-arrow {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
