.icon-aim1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-forward {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-contacts-back {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-goal2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-hover-arrow {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-location-mark {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-logo-facebook {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-logo-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-message-mark {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-news-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone-mark {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-arrow {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-structure {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-view3 {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
